<div class="content">
  <h1>{{ title }}</h1>

  <agm-map [zoom]="5" [latitude]="lat" [longitude]="lng">

    <agm-marker *ngFor="let obj of objects;" [latitude]="obj.latitude" [longitude]="obj.longitude"
      [iconUrl]="{url: obj.selectedItem ? './assets/images/image1.png' : './assets/images/image6.png'}"
      (markerClick)="onClick(obj)">
    </agm-marker>

  </agm-map>
  <div class="list">
    <div class="title">Объекты</div>
    <div class="search">
      <input type="text" placeholder="Поиск" [(ngModel)]="objectName" class="search">
    </div>
    <div class="item" *ngFor="let obj of objects | search" (click)="onClick(obj)"
      [ngClass]="{ 'selectedListItem': obj == selectedItem }"><img src="assets/images/image9.png">{{obj.name}}</div>
  </div>
</div>
